$background-layer1: white;
$background-layer2: #e6dace;
$background-layer3: #f4ece6;
$background-infoUser: #ffffff;
$mobile: 360px;
$xlMobile: 568px;
$tablet: 768px;
$desktop: 1024px;
$font-Montserrat: "Montserrat", sans-serif;
$font-Open-Sans: "Open Sans", sans-serif;
$font-Roboto: "Roboto", sans-serif;
$font-Maven-Pro: "Maven Pro", sans-serif;
$font-blue: #0000ff;
$font-white: white;
$font-black: #000000;
$font-grey: #626161;
$button-blue: #008cff;
$foto: url("../images/IMG-20220227-WA0003[106].jpg");

// #WEBX5Go30032022$active$#
