@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
@media (min-width: $mobile) {
}
@media (min-width: $xlMobile) {
}
@media (min-width: $tablet) {
}
@media (min-width: $desktop) {
  .wrapper {
    position: relative;
    margin: 0 auto;
    width: 1080px;
    .banner {
      overflow-y: hidden;
      width: 100%;
      height: 15vh;
      // border: 0.1px dotted red;
      font-family: $font-Maven-Pro;
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      #nameUser {
        text-align: center;
        // background-color: pink;
        width: 400px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        #square {
          width: 18px;
          height: 18px;
          background-color: $button-blue;
        }
        p {
          font-family: $font-Maven-Pro;
          strong {
            text-transform: capitalize;
            font-size: 20px;
            color: $font-black;
            margin-right: 5px;
          }
        }
      }
      #menu {
        margin-left: 200px;
        ul {
          display: flex;
          flex-wrap: nowrap;
          list-style: none;
          gap: 40px;
          li {
            text-align: center;
            border-radius: 20px;
            // background-color: yellow;
            padding: 5px;
            cursor: pointer;
            transition: 0.3s;
          }
          li:hover {
            color: white;
            background-color: $button-blue;
          }
        }
      }
    }
    .columns {
      display: flex;
      flex-direction: row;

      #columnLeft {
        background-color: $background-layer2;
        width: 30%;
        height: 100vh;
        .boxPicture {
          position: absolute;
          z-index: 1;
          top: 100px;
          left: 200px;
          text-align: center;
          width: 250px;
          height: 300px;
          background-color: $background-layer3;
          box-shadow: 0 0 5px 1px $font-grey;
          display: flex;
          flex-direction: column;
          align-content: center;
          .picture {
            margin: 20px auto 0;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-image: $foto;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
          }
          .boxPicture,
          p {
            margin-top: 10px;
            font-family: $font-Open-Sans;
            color: $font-black;
          }
          #user {
            font-family: $font-Maven-Pro;
            font-size: 20px;
            font-weight: 700;
            text-transform: capitalize;
          }
          #blueLine {
            margin: 15px auto 0;
            width: 50px;
            height: 2px;
            background-color: $button-blue;
          }
          #jobUser {
            font-family: $font-Maven-Pro;
            font-size: 20px;
            color: $font-grey;
            margin-bottom: 5px;
          }
        }
        .whiteRibbon {
          width: 100%;
          height: 71px;
          // background-color: $background-layer1;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 3vw;
          #icons {
            padding: 5px;
            font-size: 20px;
            color: $font-black;
            // border: 1px dotted red;
          }
        }
      }
      #columnRight {
        // background-color: rgba(255, 192, 203, 0.442);
        // border: 0.1px solid black;
        width: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        #infoUser {
          align-self: center;
          width: 350px;
          height: 300px;
          margin-top: 50px;
          // border: 0.1px solid black;
          background-color: white;
          text-align: center;
          font-family: $font-Roboto;
          h1 {
            font-size: 90px;
          }
          p {
            margin: 20px 10px 10px;
            font-size: 13px;
          }
        }
        .footer {
          width: 100%;
          height: 20vh;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: flex-end;
          gap: 30px;
          p {
            margin-right: 50px;
            font-family: $font-Roboto;
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (min-width: $xlDesktop) {
}
